#contact-us {
  background-color: $gray-base;
  padding-bottom: 64px;
}

.contact-item {
  margin-bottom: 32px;
}

.contact-image {
  width: 100px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 10px;
}