// Styling for the masthead
.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 150px 15px 100px;
  background: radial-gradient(#81caff, #3095c9);
  background-position: center;
  text-align: center;
  @include background-cover;

  &__content {
    align-items: center;
  }

  &__teaser {
    order: 2;
  }

  &__logo {
    order: 1;
    margin-bottom: 30px;
  }

  &__image {
    display: block;
    width: 120px;
    margin: 0 auto;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
  }

  hr {
    margin: 30px auto;
  }
  
  p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: fade-out(white, .3);
  }

  @media (min-width: 992px) {
    height: 100vh;
    min-height: 600px;
    text-align: left;

    &__content {
      order: 2;
    }

    &__teaser {
      padding-left: 70px;
      order: 1;
    }

    &__logo {
      margin-bottom: 0;
    }

    &__image {
      width: 280px;
    }

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 35px;
      font-weight: 300;
    }

    p {
      font-size: 18px;
    }
  }
}
